{% extends 'base.html.twig' %}

{% block title %}Predictor{% endblock %}
{% block header %}
    <link href="//db.onlinewebfonts.com/c/b20e00c5828d894b65488a11690a6187?family=Premier+League" rel="stylesheet" type="text/css"/>
    <style>
        #epl{
            font-family: 'Premier League', sans-serif;
            background-color: #340038;
        }
        #back
        {
            background-image: url("https://i.ytimg.com/vi/T7r_u-fLRXo/maxresdefault.jpg");
            font-family: 'Premier League', sans-serif;
            color: white;
        }
    </style>
    <link href="{{ asset('https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css') }}" rel="stylesheet" />
    <nav class="navbar navbar-expand-md navbar-dark fixed-top" id="epl">
        <a class="navbar-brand" href="/">English Premier League</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/stat">Stat</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Fixtures</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Results</a>
                </li>
            </ul>
            <form class="form-inline mt-2 mt-md-0">
                <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
    </nav>
{% endblock %}
{% block body %}
    <style>
        tr{
            text-align: center;
            font-family: 'Premier League', sans-serif;
            background-color: #340038;
            color: #FFFFFF;
            font-size: 40px;
        }
        tbody{
            background-color: #340038;
        }
        img{
            height: 350px;
        }
        .table-light{
            width: 100%;
            background-color: #340038;
        }
        *{
            background-color: #340038;
        }
    </style>
    <table class="table-light">
    <thead>
    <tr>
        <th scope="col">#</th>
        <th scope="col">First</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td><img src="{{ FirstTeamLogo }}" alt=""></td>
        <td><img src="{{ SecondTeamLogo }}" alt=""></td>
    </tr>
    <tr>
        <td>{{ FirstTeamName }}</td>
        <td>{{ SecondTeamName }}</td>
    </tr>
    <tr>
        <td>{{ FirstTeamScore }}</td>
        <td>{{ SecondTeamScore }}</td>
    </tr>
    <tr>
        {% if  FirstTeamScore  >  SecondTeamScore  %}
        <td colspan="2">{{ FirstTeamName }} - {{ ( FirstTeamScore - SecondTeamScore ) / SecondTeamScore }}%</td>
        {% elseif ( FirstTeamScore - SecondTeamScore ) / SecondTeamScore > 100 %}
            <td colspan="2">{{ FirstTeamName }} - 99%</td>
        {% elseif ( SecondTeamScore - FirstTeamScore ) / FirstTeamScore > 100 %}
            <td colspan="2">{{ SecondTeamName }} - 99%</td>
        {% else %}
            <td colspan="2">{{ SecondTeamName }} - {{ ( SecondTeamScore - FirstTeamScore ) / FirstTeamScore }}%</td>
        {% endif %}
    </tr>
    </tbody>

    </table>

{% endblock %}
